/*HEADER CSS*/
body{
  /*padding-top:52px;*/
}
.glass{
  background: rgba(255, 255, 255, 0.93);
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  /*background-color: rgba(255, 255, 255, 0.2);*/
  box-shadow: 0 2px 5px rgba(182, 182, 182, 0.3)
}
.clear{
  background:transparent;
}
#headerrr{
}
#header{
  background-color: rgba(255, 255, 255, 0.96);
}

/*

Responsive Mobile Menu v1.0
Plugin URI: responsivemobilemenu.com

Author: Sergio Vitov
Author URI: http://xmacros.com

License: CC BY 3.0 http://creativecommons.org/licenses/by/3.0/

*/

.nav-list a{
  
}
.rmm {
  display:block;
  position:relative;
  width:100%;
  padding:0px;
  float:right;
  line-height:19px !important;
}
.rmm * {
  -webkit-tap-highlight-color:transparent !important;
}
.rmm a {

  text-decoration:none;
}
.rmm .rmm-main-list, .rmm .rmm-main-list li {
  margin:0px;
  padding:0px;
}
.rmm ul {
  display:block;
  width:auto !important;
  margin:0 auto !important;
  overflow:hidden;
  list-style:none;
}


/* sublevel menu - in construction */
.rmm ul li ul, .rmm ul li ul li, .rmm ul li ul li a {
  display:none !important;
  height:0px !important;
  width:0px !important;
}
/* */


.rmm .rmm-main-list li {
  display:inline;
  padding:padding:0px;
  margin:0px !important;
}
.rmm-toggled {
  display:none;
  width:100%;
  position:relative;
  overflow:hidden;
  margin:0 auto !important;
}
.rmm-button:hover {
  cursor:pointer;
}
.rmm .rmm-toggled ul {
  display:none;
  margin:0px !important;
  padding:0px !important;
}
.rmm .rmm-toggled ul li {
  display:block;
  margin:0 auto !important;
}






/* MINIMAL STYLE */

.rmm.minimal a {

}
.rmm.minimal a:hover {
  opacity:0.7;
}
.rmm.minimal .rmm-main-list li a {
display: inline-block;
padding: 16px 30px 16px 30px;
margin: 0px -3px 0px -3px;
font-size: 15px
}
.rmm.minimal .rmm-toggled {
  width:100%;
  min-height:36px;
}
.rmm.minimal .rmm-toggled-controls {
  display:block;
  height:50px;
  color:#333333;
  text-align:left;
  position:relative;
}
.rmm.minimal .rmm-toggled-title {
  display:none;
  position:relative;
  top:9px;
  left:9px;
  font-size:16px;
  color:#333333;
}
.rmm.minimal .rmm-button {
  display:block;
  position:absolute;
  right: 12px;
  top: 12px;
}

.rmm.minimal .rmm-button span {
  display:block;
  margin:5px 0px 5px 0px;
  height:2px;
  background:black;
  width:25px;
}
.rmm.minimal .rmm-toggled ul li a {
  display:block;
  width:100%;
  text-align:center;
  padding:10px 0px 10px 0px;
  border-bottom:1px solid #525252;
}
.rmm.minimal .rmm-toggled ul li:first-child a {
  border-top:1px solid #525252;
}

.rmm-toggled > .navbar-nav > .active > a {
  color:white;
}
.nav-list a:hover{
  text-decoration:none;
}

@media screen and (max-width : 640px) {
  .navbar-brand{
    display:inline-block;
  }
}
.navbar-top{
  top: 0;
border-width: 0 0 1px;
position: absolute;
right: 0;
left: 0;
z-index: 1030;
border-radius:0;
}
/*END HEADER*/

/*global*/
.btn{
  font-weight:300;
}
footer{
  zoom:1;
  overflow:hidden;
  text-align:center;
  background-image:url('/assets/footer-background-gray.jpg');
  color:white;
  font-weight:300;
}
.sitemap-span > a{
  margin-left:1em;
  margin-right:1em;
  color:white;
  font-weight:300;
}
.spacer{
  padding:7em;
}
.spacer > img{
  margin-left:auto;
  margin-right:auto;
}
/*end global*/

/*Index.html*/
section{
  zoom:1;
  overflow:hidden;
}
.top-home{
  background-image:url('/assets/conference.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  height:650px;
  width:100%;
  color:#3c3c3c;
  padding-left:3em;
}
.top-home > h1{
  padding-top: 6em;
  font-weight:600;
  text-shadow: 1px 1px 25px white;
}
.top-home > h4{
  font-weight:400;
  max-width: 65%;
  text-shadow: 1px 1px 25px white;
}
.action-buttons{
  padding-top:3em;
}
.action-buttons > button{
  margin:.5em;
}


/*END INDEX*/

/*BEGIN FRAMEWORK*/
.above-top-framework{
  padding-top:62px;
  text-align:center;
  padding-bottom:3em;
}
.top-framework{
  text-align:center;
  background:#506a8e;
}
.small-icons{
  margin-left: auto;
margin-right: auto;
width: 70px;
height: 70px;
}
.middle{
  text-align:center;
}
.inner{
  padding: 80px 20px 100px;
  text-align:center;
  color:white;
}
.inner > img{
  margin-left:auto;
  margin-right:auto;
}
.outer:before{
  content:"";
  position:absolute;
  top:42%;
  left:-3px;
  width:9px;
  height:9px;
  background:#fff;
  border-radius:5px;
  -webkit-border-radius:5px;
  margin:6px 0 0;
}
.outer:after{
  content: "";
position: absolute;
top: 0;
height: 9999px;
background: #f00;
left: 0;
border-left: 2px solid #fff;
}
.one, .two, .three{
  visibility:hidden;
}
.animated-three{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1.6s;-moz-animation-duration:1.6s;-ms-animation-duration:1.6s;-o-animation-duration:1.6s;animation-duration:1.6s;}.animated.hinge{-webkit-animation-duration:1.6s;-moz-animation-duration:1.6s;-ms-animation-duration:1.6s;-o-animation-duration:1.6s;animation-duration:1.6s;}@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  } 60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  
  80% {
    -webkit-transform: translateY(-10px);
  }
  
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  
  80% {
    -moz-transform: translateY(-10px);
  }
  
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  
  80% {
    -o-transform: translateY(-10px);
  }
  
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  
  80% {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(0);
  }
}

.animated-two{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1.1s;-moz-animation-duration:1.1s;-ms-animation-duration:1.1s;-o-animation-duration:1.1s;animation-duration:1.1s;}.animated.hinge{-webkit-animation-duration:1.1s;-moz-animation-duration:1.1s;-ms-animation-duration:1.1s;-o-animation-duration:1.1s;animation-duration:1.1s;}@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  } 60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  
  80% {
    -webkit-transform: translateY(-10px);
  }
  
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  
  80% {
    -moz-transform: translateY(-10px);
  }
  
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  
  80% {
    -o-transform: translateY(-10px);
  }
  
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  
  80% {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(0);
  }
}

.animated-one{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:0.6s;-moz-animation-duration:0.6s;-ms-animation-duration:0.6s;-o-animation-duration:0.6s;animation-duration:0.6s;}.animated.hinge{-webkit-animation-duration:0.6s;-moz-animation-duration:0.6s;-ms-animation-duration:0.6s;-o-animation-duration:0.6s;animation-duration:0.6s;}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  } 60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  
  80% {
    -webkit-transform: translateY(-10px);
  }
  
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  
  80% {
    -moz-transform: translateY(-10px);
  }
  
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  
  80% {
    -o-transform: translateY(-10px);
  }
  
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  
  80% {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
.framework-details:before{
content: "";
position: absolute;
bottom: 0;
width: 2px;
height: 1400px;
background: #74c043;
left: 50%;
margin-left: -1px;
animation-duration: 3.5s;
animation-name: line;
-moz-animation-duration: 3.5s;
-moz-animation-name: line;
-webkit-animation-duration: 3.5s;
-webkit-animation-name: line;
z-index: -1;
}
.framework-details > .container-fluid > .row{
  margin-top:5em;
  margin-bottom:5em;
}
.info-pic{
  max-width:360px;
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:0px) and (max-width: 767px) {
  .framework-details:before{
    display:none;
  } 
}
@media (min-width:768px) and (max-width: 993px) {
  .framework-details:before{
    display:block;
    top: 742px;
  } 
}
@media (min-width:994px){
  .framework-details:before{
    display:block;
    top: 646px;
  } 
}
/*END FRAMEWORK*/

/*BEGIN ABOUT*/
.top-about{
  padding-top:52px;
  text-align:center;
}
/*.top-about, .bios{
  background:#f2f4f8;
}*/
.bios > .row > div{
  background:transparent;
  zoom:1;
  overflow:hidden;
  text-align:center;
  height:auto;
}
.bio-pic{
  margin-left:auto;
  margin-right:auto;
}
.clicked{
  height:1000px !important;
  -webkit-animation-duration:0.7s;-moz-animation-duration:0.7s;-ms-animation-duration:0.7s;-o-animation-duration:0.7s;animation-duration:0.7s;
}
.node{
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:100%;
  background-color:white;
}
.node img{
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
}
/*.node-info{
  border:1px solid transparent;
  -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
  -moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.23);
}*/
.bios > .row{
  margin-top:5em;
  margin-bottom:5em;
}
