<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <script src="/js/modernizr.custom.97074.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!--JQUERY UI for what?-->
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script type-"text/javascript" src="/js/readmore.min.js"></script>
        
        
        <script src="/js/waypoints.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=0.7">
        <!-- bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!--custom fonts-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
      <header id="headerrr" class="clear navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="font-weight:lighter" href="index.html" class="tk-aw-conqueror-inline navbar-brand">
            <img style="float: left; display: inline-block; width: 160px;" src="/assets/logo-notag.png" class="img-responsive" />
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul id="top-nav" class="nav navbar-nav">
            <li id="" class="nav-list active"><a href="#intro">Home</a></li>
            <li id="" class="nav-list dropdown"><a href="#a">About</a></li>
            <li id="" class="nav-list"><a href="#framework">Framework</a></li>
            <li id="" class="nav-list"><a href="#team">Team</a></li>
            <li id="" class="nav-list"><a href="#news">News</a></li>
            <li id="" class="nav-list"><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </header>

    <script>
$(window).scroll(function () {
    if ($(document).scrollTop() <= 650) {
        $('header').addClass('clear');
        $('header').removeClass('glass');
        $('header').removeClass('scroling-header');
        $('header').css("background","transparent");
        //$('.logo').removeClass('tiny-logo');
        //$('nav').removeClass('tiny-nav');
    } else { //when you scroll down
        $('header').addClass('scrolling-header');
        $('header').removeClass('clear');
        $('header').addClass('glass');
        $('header').css("background","rgba(255, 255, 255, 0.93)");
        //$('.logo').addClass('tiny-logo');
        //$('nav').addClass('tiny-nav');
    }
});
</script>


          {{ content }}


      <footer>
        <div class="row">
          <div class="spacer col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img class="img-responsive" src="/assets/footer-logo.png" />
          </div>
          <div class="spacer col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>Site Map</h3>
            <span class="sitemap-span"><a href="index.html">Home</a><a href="about.html">About</a><a href="framework.html">Framework</a></span>
            <br />
            <span class="sitemap-span"><a href="news.html">News</a><a href="contact.html">Contact</a><a href="#">Terms of Use</a></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="copyright tk-proxima-nova">&copy; 2nd Stage Partners, 2014</p>
            <p class="copyright">Made with ♥ by <a href="http://www.gadole.com">Gadole</a></p>
          </div>
        </div>
      </footer>

<script>
// Cache selectors
var lastId,
    topMenu = $("#top-nav"),
    topMenuHeight = topMenu.outerHeight(), //+ height of header (padding-top of body)
    // All list items
    menuItems = topMenu.find("a"),
    // Anchors corresponding to menu items
    scrollItems = menuItems.map(function(){
      var item = $($(this).attr("href"));
      if (item.length) { return item; }
    });

// Bind click handler to menu items
// so we can get a fancy scroll animation
menuItems.click(function(e){
  var href = $(this).attr("href"),
      offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
  $('html, body').stop().animate({ 
      scrollTop: offsetTop
  }, 300);
  e.preventDefault();
});

// Bind to scroll
$(window).scroll(function(){
   // Get container scroll position
   var fromTop = $(this).scrollTop()+topMenuHeight;
   
   // Get id of current scroll item
   var cur = scrollItems.map(function(){
     if ($(this).offset().top < fromTop)
       return this;
   });
   // Get the id of the current element
   cur = cur[cur.length-1];
   var id = cur && cur.length ? cur[0].id : "";
   
   if (lastId !== id) {
       lastId = id;
       // Set/remove active class
       menuItems
         .parent().removeClass("active")
         .end().filter("[href=#"+id+"]").parent().addClass("active");
   }                   
});
</script>
    </body>
</html>